<h2><%= @article.title %></h2>
<p><%= @article.content %></p>

<p>
  <%= link_to articles_path do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
</p>
<%= link_to (edit_article_path) do %>
  <i class="fa-solid fa-pencil"></i>
<% end %>
